[Unit]
Description=Weatherboard2 data collector and exporter service

[Service]
Type=simple
WorkingDirectory=/home/gibizer/weatherboard2-data-collector-and-ws-exporter
ExecStart=/home/gibizer/weatherboard2-data-collector-and-ws-exporter/run_venv.sh
User=gibizer
Group=gibizer
KillMode=control-group
TimeoutStopSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=weatherboard

[Install]
WantedBy=multi-user.target
